body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

			nav ul li a {
				color: inherit; /* Use the default text color */
				transition: color 0.2s ease-in-out; /* Add a smooth transition effect */
			}
			
			/* Hover state */
			nav ul li a:hover {
				color: #7B68EE; /* Change to the desired color on hover */
			}
			

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 40px;
}

h1, h2 {
	font-weight: bold;
	font-family: Georgia, serif; /* Use Georgia as the font family with a generic serif fallback */
	color: rgb(63, 63, 63);
	text-shadow: -1px -1px 0 #9e9d9d; 
}

h3 {
  font-weight: bold;
  font-family: Georgia, serif; /* Use Georgia as the font family with a generic serif fallback */
  color: rgb(209, 208, 208);
  text-shadow: -1px -1px 0 #9e9d9d; 
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 20% 6% 20% 6% 20% 6% 20% 6% 20% 6%;
	grid-gap: 10px;
	padding: 5px;
} 

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 10px;
  font-size: 25px;
}

.grid-item-text {
	background-color: rgba(255, 255, 255, 0.8);
	color: rgb(191, 191, 191);
	grid-template-rows: repeat(4, 50px); 
	text-align: center;
	padding: 10px;
	font-size: 25px;
  }

.grid-item {
	padding: 10px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}
  
.grid-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.grid-container-costume {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 20px, 70px, 20px, 70px, 20px, 70px, 20px, 70px;
	grid-gap: 10px;
	padding: 5px;
}

.grid-container-costume > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 10px 10px;
	font-size: 25px;
}

.grid-item-costume {
	padding: 10px;
	text-align: center;
}

.grid-item-costume img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid-item-costume-text {
	background-color: rgba(255, 255, 255, 0.8);
	color: rgb(191, 191, 191);
	grid-template-rows: repeat(4, 50px); 
	text-align: center;
	padding: 10px;
	font-size: 5px;
  }

		.grid-container-hat {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 200px, 200px, 200px, 200px, 200px, 300px,;
			grid-gap: 10px;
			padding: 5px;
		} 

		.grid-container-hat > div {
		background-color: rgba(255, 255, 255, 0.8);
		text-align: center;
		padding: 10px 10px;
		font-size: 25px;
		}

		.grid-item-hat {
			padding: 10px;
			text-align: center;
			position: relative;
			overflow: hidden; /* Hide overflow to crop the image */
		}
		
		.grid-item-hat img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
			transition: transform 0.2s ease-in-out;
		}

		.grid-item-hat:hover img {
			transform: scale(2.1); /* Adjust the scale factor for desired zoom level */
		}

		.grid-item-costume-text {
	background-color: rgba(255, 255, 255, 0.8);
	color: rgb(191, 191, 191);
	grid-template-rows: repeat(4, 50px); 
	text-align: center;
	padding: 10px;
	font-size: 30px;
  }


		.grid-container-embroidery {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 280px 280px 280px;
			grid-gap: 10px;
			padding: 5px;
		}

		.grid-container-embroidery > div {
			background-color: rgba(255, 255, 255, 0.8);
			text-align: center;
			padding: 10px 10px;
			font-size: 30px;
		}

		.grid-item-embroidery {
			padding: 10px;
			text-align: center;
			position: relative;
			overflow: hidden; /* Hide overflow to crop the image */
		}

		.grid-item-embroidery img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
			transition: transform 0.2s ease-in-out;	
		}

		.grid-item-embroidery:hover img {
			transform: scale(3.1); /* Adjust the scale factor for desired zoom level */
		}

	
		.grid-container-lether {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 15% 15% 15% 12% 18%;
			grid-gap: 20px;
			padding: 10px;
		}

		.grid-container-lether > div {
			background-color: rgba(255, 255, 255, 0.8);
			text-align: center;
			padding: 10px 10px;
			font-size: 30px;
		}

		.grid-item-lether {
			padding: 10px;
			text-align: center;
			position: relative;
						overflow: hidden;
		}

		.grid-item-lether img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
						transition: transform 0.2s ease-in-out;
		}
					
		.grid-item-lether:hover img {
			transform: scale(2.1); /* Adjust the scale factor for desired zoom level */
		}




						
		.grid-item {
			position: relative;
		}
		
		.gray-on-hover {
			transition: filter 0.2s ease-in-out;
		}
		
		.gray-on-hover:hover {
			filter: grayscale(40%);
		}



		.grid-item-costume {
			position: relative;
		}
		
		.color-on-hover {
			transition: filter 0.2s ease-in-out;
		}
		
		.color-on-hover:hover img {
			filter: hue-rotate(35deg); /* Change the angle to adjust the color */
		}





.categories {
	list-style: none;
	margin: 0;
	padding: 0;
}

.categories li {
	display: inline-block;
	margin-right: 20px;
}

.categories a {
	color: #333;
	text-decoration: none;
}

.categories a:hover {
	color: #666;
}

  
#hero {
	background-image: url('img/hero.jpg');
	background-size: cover;
	background-position: center;
	color: #fff;
	padding: 13%;
	text-align: center;
}
#costumes {
	background-image: url('img/Kiss\ kostymer.jpeg');
	background-size: cover;
	background-position: center;
	color: #fff;
	padding: 13%;
	text-align: center;
	font-size: 50px;
}
#about {
	background-color: #f2f2f2;
	padding: 20px;
}

#services {
	background-color: #e6e6e6;
	padding: 20px;
}

#portfolio {
	background-color: #f2f2f2;
	padding: 20px;
}

#contact {
	background-color: #e6e6e6;
	padding: 20px;
}

#name {
	text-align: center;
	font-size: 25px;
}


footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
