body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 40px;
}

h1, h2 {
	font-weight: normal;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 40px 20px 25% 8% 25% 8% 25% 8% 25% 8%;
	grid-gap: 10px;
	padding: 5px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 10px;
  font-size: 30px;
}

.grid-item {
	padding: 10px;
	text-align: center;
}
  
.grid-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.grid-container-costume {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 80% 50% 80% 50%;
	grid-gap: 10px;
	padding: 5px;
}

.grid-container-costume > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 10px 10px;
	font-size: 30px;
}

.grid-item-costume {
	padding: 10px;
	text-align: center;
}

.grid-item-costume img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.grid-container-embroidery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 40% 70% 40% 70%;
	grid-gap: 10px;
	padding: 5px;
}

.grid-container-embroidery > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 10px 10px;
	font-size: 30px;
}

.grid-item-embroidery {
	padding: 10px;
	text-align: center;
}

.grid-item-embroidery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

img:hover {
	background-color: gray;
  }


.categories {
	list-style: none;
	margin: 0;
	padding: 0;
}

.categories li {
	display: inline-block;
	margin-right: 20px;
}

.categories a {
	color: #333;
	text-decoration: none;
}

.categories a:hover {
	color: #666;
}

  
#hero {
	background-image: url('img/hero.jpg');
	background-size: cover;
	background-position: center;
	color: #fff;
	padding: 13%;
	text-align: center;
}
#costumes {
	background-image: url('img/Kiss\ kostymer.jpeg');
	background-size: cover;
	background-position: center;
	color: #fff;
	padding: 13%;
	text-align: center;
	font-size: 50px;
}
#about {
	background-color: #f2f2f2;
	padding: 20px;
}

#services {
	background-color: #e6e6e6;
	padding: 20px;
}

#portfolio {
	background-color: #f2f2f2;
	padding: 20px;
}

#contact {
	background-color: #e6e6e6;
	padding: 20px;
}

#name {
	text-align: center;
	font-size: 25px;
}


footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
